# Ignore all target directories
**/target/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDE files
.idea/
*.iml
*.iws
*.ipr
.settings/
.project
.classpath
.factorypath

# Compiled files
*.class
*.jar
*.war
*.ear
*.log

# Others
.DS_Store
*.swp
*~
